################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BackendTest/FileContentIndex/8c42ff0c-c512-469f-a3c4-fa0d827e1301.vsidx
/.vs/slnx.sqlite
